{% extends "layout.html" %}
{% block content %}
    <h1>Campaigns</h1>
    <div class="campaigns">
        {% for campaign in campaigns %}
            <div class="campaign">
                <h2>
                    {% if current_user.is_authenticated %}
                        <a class="cname" href="{{ url_for('campaign_detail', campaign_id=campaign.id) }}">{{ campaign.title }}</a>
                    {% else %}
                        {{ campaign.title }}
                    {% endif %}
                </h2>
                <p>{{ campaign.description }}</p>
                <p class="target">Target: ksh {{ campaign.target_amount }}</p>
                <p class="raise">Raised: ksh {{ campaign.current_amount }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
